#container {
    display: flex;
    text-align: center;
    width: 40%;
    margin: 10% auto;
    flex-wrap: wrap;
    height: 380px;
}

.square {
    border: 1px solid lightgray;
    width: 5.7%;
}

.reset {
    margin: 2% auto;
    max-height: 40px;
    /* width: 9%; */
}

.btn-div {
    display: block;
    /* border: 1px solid black; */
    margin-top: 2%;
    width: 100%;
}