#container {
    display: flex;
    text-align: center;
    width: 40%;
    margin: 10% auto;
    flex-wrap: wrap;
    height: 360px;
}

.square {
    border: 1px solid lightgray;
    width: 5.7%;
}

.reset {
    margin: 2% auto;
}